extends _layouts/app

block head_end
block content
	include _partials/header

	.containter-fluid
		.container
			.row
				.col-md-12
					h2 Bienvenido a la página de la conferencia


	include _partials/footer

block body_end