extends _layouts/app

block head_end
block content
  include _partials/header
  include _partials/section_presentation  
  include _partials/section_keynoters
  include _partials/section_place
  include _partials/section_sponsors
  include _partials/section_what
  include _partials/section_photos
  include _partials/section_tickets

  include _partials/footer

block body_end