extends _layouts/app

block head_end
block content
  .containter-fluid.header
    include _partials/header_fix

  .containter-fluid.main-content.single-page
    .container
      div(id='first-schelude', style="border: 1px solid;")
        .row
          .col-md-12.section
            p Track:
              span(id='first-text-track')
        .row(id='first-schelude-0')
          .col-md-12.section
            p Comienzo:
              span(id='first-text-start-time-0')
            p Termino:
              span(id='first-text-finish-time-0')
            p Charla:
              span(id='first-text-title-0')
        .row(id='first-schelude-1')
          .col-md-12.section
            p Comienzo:
              span(id='first-text-start-time-1')
            p Termino:
              span(id='first-text-finish-time-1')
            p Charla:
              span(id='first-text-title-1')
      .row
        .col-md-6.section(id='second-schelude', style="border: 1px solid;")
          p Track:
            span(id='second-text-track')
          .col-md-12.section
            p Comienzo:
              span(id='second-text-start-time-0')
            p Termino:
              span(id='second-text-finish-time-0')
            p Charla:
              span(id='second-text-title-0')
        .col-md-6.section(id='third-schelude', style="border: 1px solid;")
          p Track:
            span(id='third-text-track')
          .col-md-12.section
            p Comienzo:
              span(id='third-text-start-time-0')
            p Termino:
              span(id='third-text-finish-time-0')
            p Charla:
              span(id='third-text-title-0')

block body_end

  script(type="text/javascript", src="assets/js/schedule.js")