$grid-float-breakpoint:1200px;
@import "bootstrap-sprockets";
@import "bootstrap";
@charset "utf-8";

$muted:#7A7A7A;
$highlight:#FFFB00;

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 22px;

  //@media(max-width:767px) { background-color:red;}
  //@media(min-width:768px) { background-color:yellow;}
  //@media(min-width:992px) { background-color:green;}
  //@media(min-width:1200px){ background-color:blue;}
}


.backdrop.location{
  background: url('../images/estacion_central.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2{
  font-weight: 300;
  line-height: 110px;

  @media(max-width:767px) {
    line-height: 27px;
    font-size: 27px;
    padding: 20px 0;
  }
}

h3{
  font-weight: 300;
}

h4{
  font-size: 20px;
  font-weight: 300;
}

.text-muted{
  font-weight: 300;
  color: $muted;
}

.light{
  font-weight: 300;
}

a.highlight{
  font-weight: bold;
  color:$highlight;
}

.navbar-inverse.mainMenu {
  background-color: #090909;
  border-color: #090909;
  height: 115px;
  @media(max-width:1199px) {
    height: 60px !important;
  }

  @media(max-width:1199px) {
    height: inherit;
  }

  .navbar-brand{
    img{
      @media(max-width:1199px) {
        width: 140px;
        margin-top: -6px;
      }
    }
  }

  ul.nav{
    margin-top: 38px;
    @media(max-width:1199px) {margin: 0px -15px;}
  }

  ul li a{
    text-transform: uppercase;
    @media(max-width:1199px) {
      color: #5F5F5F;
      font-weight: 300;
      font-size: 30px;
      text-align: center;
      border-bottom: 2px solid rgba(150, 150, 150, 0.27);
    }

  }

  .navbar-toggle{
    border: none;
    border-radius: 0;
    background-color: transparent;
  }

  .navbar-collapse{
    @media(max-width:1199px) {background-color:$highlight; margin-top: 10px;}
    @media(min-width:992px) {float: right;}
  }

}


.intro{
  background: url('../images/santiago.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 160px;

  @media(max-width:767px) { height: 92vh; padding-top: 67px; }
  @media(min-width:768px) { height: 70vh;}
  @media(min-width:992px) { height: 90vh;}


  h1 {
    color:#fff;
    @media(max-width:767px) {font-size: 21px;}
  }
  h2 {
    color:$highlight;
    line-height: 32px;
    @media(max-width:767px) {
      font-size: 16px;
      line-height: 22px;
      padding: inherit;
    }
  }
  p  {
    color:#fff;
    font-weight: 300;
    padding-top: 15px;
    padding-bottom: 23px;
  }
  a.bigBtn{
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color:#000;
    background-color: $highlight;
    border-radius: 2px;
    @media(max-width:767px) {
      border-radius: 35px;
    }
  }
  .pricing img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
  }
}

.mainSpeakers, .mainSponsors{
  .col-lg-3,.col-sm-6{
    margin-bottom: 75px;
  }

  .col-xs-12{
    margin-bottom: 35px;
  }

  .photo{
    border-radius: 85px;
    margin-left: auto;
    margin-right: auto;
  }

  h4{
    line-height: 43px;
    @media(max-width:767px) { line-height: 30px;}
  }

  p {
    font-style: italic;
    color: $muted;
  }
}

.mainSponsors{
  padding-top: 100px;
  @media(max-width:767px) { padding-top: 30px; }

  h2{ line-height: 70px;  margin-bottom: 0;}
  h3{
    line-height: 50px;
    margin-top: 0;
    @media(max-width:767px) {line-height: 30px;}
  }
  h4.titleSection{ padding-bottom: 40px;}

  .col-lg-4{
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .col-xs-12{
    padding-top: 30px;
    padding-bottom: 10px;
  }

}

.localSpeakers, .secondarySponsors{
  .photo{
    max-width: 75px;
    border-radius: 40px;
    float: left;
    margin: 18px 10px 35px 0;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    font-style: italic;
    color: $muted;
  }
  .col-xs-12{
    padding-top: 0;
    padding-bottom: 20px;
    margin-bottom: 0;
  }
  .col-xs-12 img{
    max-width: 65px;
    margin-bottom: 35px;
    margin-right: 5px;
    margin-top: 15px;
  }
}

.secondarySponsors{
  h4{
    padding-bottom: 0px;
    line-height: 15px;
  }
  img{
    margin-top: 0px;
    margin-bottom: 17px !important;
  }
  .col-xs-12{
    padding-bottom: 0 !important;
  }
}

.seeAllSpeakers{
  padding-top: 30px;
  padding-bottom: 40px;
  h3{
    @media(max-width:767px) {font-size: 17px;}
  }
}

.location{
  color:#FFF;
  font-weight: 300;

  .col-sm-12{
    h2{
      font-size: 28px;
    }
  }

  p.descLocation{
    padding-bottom: 10px;
  }

  #map_canvas {
    margin: 0;
    padding: 0;
    height: 400px;
  }

  .infoLocation{
    .col-lg-4{
      padding-top: 50px;
      padding-bottom: 45px;

      @media(max-width:767px) {
        padding-top: 15px;
        padding-bottom: 15px;
      }

      h4{
        line-height: 32px;
      }

      a{
        text-decoration: underline;
        color: inherit;

        &:hover{
          color:$highlight;
        }
      }
    }

    .col-sm-12{
      @media(min-width:768px) and (max-width: 1200px) { padding-top: 0 !important; }
    }

  }

}

.sponsors{
  .premium .col-xs-4 {
    padding-bottom: 25px;
  }
  .gold {
    .col-md-3{
      padding-top: 25px;
      padding-bottom: 50px;
      height: 120px;
    }
    img{
      margin-left: auto;
      margin-right: auto;
    }
  }

}

.gallery{
  background-color: #000;
  color:#fff;
  .col-xs-3, .col-sm-2, .col-lg-1{
    padding: 2px !important;
  }
}

.footer{
  background-color: #000;
  color:#fff;

  .col-lg-12{
    padding: 55px 0;

    img{
      height: 50px;
      position: absolute;
      left: 0;
      top:33px;
      @media(max-width:767px) {
        position: static;
      }
    }

    p{
      font-weight: 300;
    }
  }
}


.keynotes{
  .col-lg-4{
    padding-top: inherit;
    padding-bottom: inherit;
  }

  .keynote{
    h4{
      font-size: 16px;
      line-height: 16px;
      font-weight: 500;
    }
    .speaker,.schedule{
      font-weight: 300;
    }
    .schedule{
      margin-bottom: 20px;
    }
  }

  .speaker{
    .photo{
      max-width: 75px;
      border-radius: 40px;
      float: left;
      margin: 18px 10px 35px 0;
      margin-left: auto;
      margin-right: auto;
    }
    p {
      font-style: italic;
      color: $muted;
    }
  }
}

#myNav{
  display: inline-block;
  top:115px;
  z-index: 2;
  width: 415px;
  left: 50%;
  margin-left: -207px;
  background-color: #fff;
  border-bottom: none;

  li{
    a{
      font-size: 16px;
      color: #D5D5D5;
      line-height: 32px;
      font-weight: 400;
      border-radius: 0;
      border:none;
      text-transform: uppercase;
    }
    &.active{
      a{
        color:#494949;
        -webkit-transition: background 1s ease;
        -moz-transition: background 1s ease;
        -ms-transition: background 1s ease;
        -o-transition: background 1s ease;
        transition: background 1s ease;
      }
    }
  }
}



.affix{}

.affix-top{
  position: absolute;
  top: 0px !important;
}

.sep{
  height: 53px;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 115px;
  left: 0;
  z-index: 2;
  width: 100%;
  border-bottom: 1px solid rgb(229, 229, 229);
  display: none;
}

.conduct{
  p {
    font-weight: 300;
    max-width: 600px;
  }
}

.mainSpeakers .photo {
    height: 150px;
}

/*extend bootstrap for 5 columns layout*/
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    width: 20%;
    float: left;
}
@media (min-width: 768px) {.col-sm-5ths {width: 20%;float: left;}}
@media (min-width: 992px) {.col-md-5ths {width: 20%;float: left;}}
@media (min-width: 1200px) {.col-lg-5ths {width: 20%;float: left;}}
