@import 'utils/functions';
@import 'utils/mixins';
@import 'utils/variables';

.channels{
  background-color: #FFF;
  position: relative;
  .main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 20px;
    color: $general-color;
    position: relative;
    z-index: 1;
    h2{
      font-size: 1.8rem;
      font-weight: 900;
      line-height: 100%;
      color: $general-color;
      margin-bottom: 0;
    }
    h3{
      margin-top: 2%;
      font-size: 1.1rem;
      font-weight: 300;
    }
  }
  .blocks{
    .blocks-block{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #FFF;
      padding: 10%;
      font-size: 1rem;
      min-height: 33%;
      overflow: hidden;
      &:before{
        content: '';
        min-height: 100%;
        width: 100%;
        position: absolute;
        background-size: cover;
        background-color: $highlight-color;
        background-blend-mode: multiply;
        opacity: 0.3;
        left: 0;
      }
      &.challenges{
        background-color: $highlight-second-color;
        &:before{
          background-color: $highlight-second-color;
          background-image: image-url("canales-01.jpg");
        }
      }
      &.openapi{
        background-color: $general-color;
        &:before{
          background-color: $general-color;
          background-image: image-url("canales-02.jpg");
        }
      }
      &.hackathon{
        background-color: $highlight-third-color;
        &:before{
          background-color: $highlight-third-color;
          background-image: image-url("canales-03.jpg");
        }
      }
      &:last-child{
        border: none;
      }
      h3, p, .actions{
        z-index: 2;
        margin-bottom: 20px;
      }
      h3{
        font-size: 2.4rem;
        font-weight: 900;
      }
      p{
        font-weight: 500;
      }
      .actions{
        padding: 18px;
        margin-top: 10px;
        a{
          background-color: transparent;
          font-size: 0.7rem;
          padding: 10px 12px;
          border: 2px solid #FFF;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .channels{
    .main-content{
      h2{
        font-size: 3rem;
      }
      h3{
        font-size: 1.2rem;
      }
    }
    .blocks{
      display: grid;
      grid-template-columns: 33.3% auto 33.3%;
    }
  }
}