footer{
  background-color: #1A091B;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a{
    display: block;
    width: 30%;
    &:focus{
      outline: 0px;
    }
    img{
      width: 100%;
    }
  }
}

@media screen and (min-width: 1024px) { 
  footer{
    padding: 40px;
    a{
      width: 10%;
    }
  }
}