@import 'utils/functions';
@import 'utils/mixins';
@import 'utils/variables';

.program{
  background-image: bg-pattern();
  min-height: 100vh;
  position: relative;
  .main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8%;
    position: relative;
    z-index: 0;
    color: $general-color;
    .landing-image{
      width: 80%;
      margin: 20% auto;
      img{
        width: 100%;
      }
    }
    h1{
      font-size: 2rem;
      font-weight: 900;
      line-height: 110%;
      color: $highlight-color;
      margin-bottom: 4%;
    }
    h2{
      margin-top: 1%;
      font-size: 1.1rem;
      font-weight: 300;
      strong{
        font-weight: 600;
        &.color{
          color: $highlight-color;
        }
      }
    }
    h3{
      font-size: 1.8rem;
      font-weight: 400;
      margin: 0;
    }
    h4{
      font-weight: 500;
      color: #FFF;
      font-size: 1.5rem;
      margin: 2% 10% 0;
      line-height: 100%;
    }
    .req-list{
      font-weight: 600;
      text-align: left;
      margin-left: 20%;
      margin-top: 3%;
      li{
        font-weight: 500;
        font-size: 1rem;
      }
    }
  }
  .outsanding-call{
    background-color: $highlight-color;
    position: relative;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    margin-top: 5%;
    &:before{
      content: '';
      min-height: 100%;
      width: 100%;
      position: absolute;
      background-image: image-url("programa-02.jpg");
      background-size: cover;
      background-color: $highlight-color;
      background-blend-mode: multiply;
      opacity: 0.2;
      left: 0;
    }
    .main-content{
      padding: 20px 0;
    }
    .actions{
      margin-top: 3%;
      margin-bottom: 3%;
      .btn{
        background-color: transparent;
        text-decoration: none;
        border-color: #fff;
        margin: 1% auto;
        width: 90%;
        @include outline-shadow();
        &.cta{
          background-color: $highlight-third-color;
          border-color: $highlight-third-color;
          &:hover{
            background-color: $highlight-second-color;
            border-color: $highlight-second-color;
          }
        }
      }
    }
  }
  &.detail-page{
    background: white;
    .main-content{
      h1{
        line-height: 100%;
        font-size: 2.2rem;
        color: $general-color;
        font-weight: 400;
        margin-bottom: 1%;
        strong{
          color: $highlight-color;
          font-weight: 900;
        }
      }
      h3{
        font-size: 1.2rem;
      }
      .landing-image{
        width: 85%;
        margin: 6% auto;
      }
      .req-list{
        margin-left: 10%;
      }
      .actions{
        padding: 0 0;
      }
      &.second-content{
        padding: 4% 0;
        h1{
          font-size: 1.8rem;
          margin: 5%;
        }
        h5{
          margin-top: 10%;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .col{
          padding: 5% 25%;
          img{
            width: 80%;
          }
          .min-list{
            text-align: left;
            margin-left: 6%;
            font-size: 1rem;
            margin-top: 2%;
          }
        }
        &.bg{
          background-image: bg-pattern();
          img{
            width: 80%;
          }
          h5{
            font-size: 1rem;
          }
        }
        &.steps{
          h1{
            margin-bottom: 1%;
          }
          h1 strong{
            color: $highlight-fourth-color;
          }
          h2{
            font-size: 1.2rem;
            font-weight: 400;
          }
          .col{
            h2{
              font-size: 3.5rem;
              font-weight: 900;
              color: $highlight-second-color;
            }
            h3{
              font-size: 1.8rem;
              font-weight: 700;
              margin-bottom: 20px;
              color: $highlight-second-color;
            }
            p{
              font-size: 1rem;
            }
          }
          &.bg{
            .col{
              h2, h3{
                color: $highlight-third-color;
              }
            }
          }
          .image-content{
            img{
              width: 50%;
            }
          }
        }
      }
    }
    .outsanding-call{
      background-color: $highlight-second-color;
      &:before{
        background-color: $highlight-second-color;
      }
      h4{
        font-size: 2rem;
      }
      &.end{
        background-color: $highlight-color;
        margin-top: 0;
        &:before{
          background-color: $highlight-color;
        }
        .actions .cta{
          background-color: $highlight-second-color;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) { 
  .program{
    .main-content{
      padding: 6% 20px 2%;
      h1{
        font-size: 3.6rem;
        margin-bottom: 0;
      }
      h2{
        font-size: 1.8rem;
      }
      h4{
        font-size: 2.5rem;
        margin: 2% 10% 5%;
        line-height: 110%;
      }
      .landing-image{
        margin: 10% auto;
        width: 60%;
      }
      .req-list{
        margin-left: 35%;
        li{
          font-size: 1.5rem;
        }
      }
    }
    .outsanding-call{
      .main-content{
        padding: 50px 0;
      }
      h4{
        font-size: 2rem;
      }
      .actions{
        margin-bottom: 3%;
        display: block;
        .btn{
          margin: 0 0.5%;
          width: initial;
        }
      }   
    }
    &.detail-page{
      .main-content{
        h1{
          font-size: 2.4rem;
        }
        h3{
          font-size: 1.8rem;
        }
        h4{
          margin-bottom: 0;
        }
        .req-list{
          margin-top: 2%;
          margin-left: 25%;
          margin-bottom: 5%;
        }
      }
      .main-content.second-content{
        h1{
          font-size: 2.4rem;
          margin-top: 0;
        }
        .col{
          padding: 5%;
          img{
            width: initial;
          }
        }
      }
    }
  }
}

/* Portrait and Landscape */
@media screen and (max-width: 640px){
  .program{
    .main-content h4{
      margin: 2% 10% 10%;
    }
    .landing-image{
      width: 90%;
    }
    .outsanding-call{
      margin-top: 4%;
      .actions{
        display: flex;
        flex-direction: column;
        margin: initial;
        .btn{
          margin: 1% auto;
          width: 90%;
        }
      }
      .main-content{
        padding: 30px 0;
      }   
    }
    &.detail-page{
      .main-content{
        h1{
          font-size: 1.3rem;
        }
        h3{
          font-size: 1.1rem;
          margin: 5%;
        }
        .req-list li{
          font-size: 0.9rem;
        }
      }
      .outsanding-call{
        h4{
          font-size: 1.2rem;
          margin: 5%;
        }
      }
      .main-content.second-content{
        .col{
          padding: 5% 10%;
          img{
            width: 50%;
          }
          p{
            font-size: 0.8rem;
            margin-top: 10px;
          }
          &.image-content{
            position: absolute;
            width: 100%;
            top: 0;
            img{
              width: 30%;
            }
          }
          &.left-content,
          &.right-content{
            text-align: center;
            padding-top: 130px;
            h1, h2, h3{
              display: inline;
              font-size: 1.4rem;
              text-align: left;
              margin: 0;
              line-height: 100%;
            }
          }
        }
        &.steps{
          h2{
            margin: 5% 10%;
          }
        }
      }
    }
  }
}