@import 'utils/functions';
@import 'utils/mixins';
@import 'utils/variables';

.team{
  background-color: white;
  min-height: 100vh;
  position: relative;
  .main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    position: relative;
    z-index: 1;
    color: $general-color;
    h2{
      margin-top: 1%;
      font-size: 1.8rem;
      font-weight: 700;
      color: $highlight-second-color;
      margin: 6% 20% 12px 20%;
    }
    h3{
      font-size: 1.2rem;
      line-height: 120%;
      font-weight: 400;
      margin: 5% 10% 5%;
    }
    .team-squares{
      display: block;
      transition: all .15s ease-in-out;
      .picture{
        display: block;
        margin: 0;
        position: relative;
        overflow: hidden;
        img{
          width: 100%;
          object-fit: unset;
          position: relative;
          bottom: 0;
        }
        &.no-picture{
          display: none;
        }
        &:focus,
        &:active{
          img{
            border-color: $highlight-second-color;
          }
        }
      }
    }
    .bio{
      transform: translate(0, 320px);
      transition: 1s cubic-bezier(0.26, -0.01, 0, 0.98);
      position: fixed;
      width: 100%;
      padding: 20px;
      text-align: left;
      background: $highlight-second-color;
      z-index: 4;
      bottom: 0;
      left: 0;
      color: #FFF;
      h3{
        font-size: 1.4rem;
        font-weight: 700;
        color: $general-dark;
        margin: 0 0 1%;
      }
      p{
        font-size: 0.9rem;
      }
      &.visible-bio{
        transform: translate(0, 0);
      }
      a{
        display: inline-block;
        position: absolute;
        top: 15px;
        right: 15px;
        &:hover,
        &:focus,
        &:active{
          color: $general-dark;
        }
        i{
          font-size: 30px;
        } 
      }
    }
  }
}

/* Portrait and Landscape Mobile */
@media screen and (max-width: 640px){
  .team{
    .main-content{
      h2{
        font-size: 1.8rem;
        line-height: 110%;
      }
      h3{
        font-size: 1rem;
        margin: 5% 10% 10%;
      }
    }
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .team{
    .main-content.container{
      overflow: hidden;
      padding: 4% 20px 2%;
      h2{
        font-size: 2.8rem;
        margin-bottom: 10px;
      }
      h3{
        font-size: 1.4rem;
      }
      .bio{
        position: fixed;
        top: initial;
        left: 35%;
        right: initial;
        bottom: 5%;
        width: 380px;
        padding: 20px;
        background-color: $highlight-second-color;
        box-shadow: 0 0 10px rgba(0,0,0,0.5)
        p, a{
          color: #fff;
        }
      }
      .team-squares{
        display: grid;
        grid-template-rows: repeat(4, 150px);
        grid-template-columns: repeat(6, 150px);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        transform: rotate(-45deg);
        margin: 12% auto;
        .picture{
          display: block;
          border-radius: 4px;
          border: 4px solid #1A091B;
          width: 150px;
          height: 150px;
          overflow: hidden;
          position: relative;
          &:hover,
          &:focus,
          &:active{
            border-color: $highlight-second-color;
            &:before{
              content: '';
              height: 100%;
              width: 100%;
              position: absolute;
              background-color: $highlight-second-color;
              background-blend-mode: luminosity;
              opacity: 0.8;
              z-index: 1;
              left: 0;
              top: 0;
            }
            &:after{
              content: attr(data-name);
              color: #fff;
              z-index: 2;
              font-size: 20px;
              font-weight: 800;
              opacity: 1;
              display: flex;
              position: absolute;
              transform: rotate(45deg);
              text-align: center;
              width: 100%;
              left: -5%;
              top: -5%;
              height: 150px;
              width: 150px;
              justify-content: center;
              align-items: center;
            }
          }
          img{
            position: absolute;
            transform: rotate(45deg);
            width: 150%;
            left: -35px;
            top: -40px;
            z-index: 0;
            border: none;
          }
          &.no-picture{
            display: block;
            border-color: transparent;
            &:hover,
            &:focus,
            &:active{
              pointer-events: none;
              cursor: none;
              &:before,
              &:after{
                content: '';
                display: none;
              }
            }
          }
        }
      }
    }
  }
}