%footer{class: [clase]}
  .content
    .social
      %h3= t('footer.social.title')
      %ul
        %li
          %a.facebook{href: t('footer.social.facebook'), title: 'Facebook'}
        %li
          %a.twitter{href: t('footer.social.twitter'), title: 'Twitter'}
        %li
          %a.instagram{href: t('footer.social.instagram'), title: 'Instagram'}
        %li
          %a.youtube{href: t('footer.social.youtube'), title: 'Youtube'}
    .contact
      %a{href: t('footer.link_codigo.url'), title: t('footer.link_codigo.texto')}
        = t('footer.link_codigo.texto')
      %br
      %span Versiones anteriores
      %a.version{href: t('footer.versiones._2013')}
        2013
      %a.version{href: t('footer.versiones._2015')}
        2015
      %a.version{href: t('footer.versiones._2017')}
        2017
      %br
      = t('footer.contact.text')
      %br
      = t('footer.copyright')