%section.grid-program.scrollspy#grid
  .content
    %h2.titles= t('section_grid.title')
    %h3.subtitles= t('section_grid.subtitle') 
    .program
      %a#sched-embed{"data-sched-sidebar" => "no", :href => "//starsconf2018a.sched.com/"} View the StarsConf 2018 schedule &amp; directory.
      %script{:src => "//starsconf2018a.sched.com/js/embed.js", :type => "text/javascript"}
