%section.home#background
  .description
    .content
      %h2= t('homepage.fecha')
      %h1= t('homepage.description_home')
  -#= partial "partials/streaming"
  = partial "partials/videos"
      
  