.keynoters.scrollspy#keynoters
  .content
    %h2.titles Keynoters
    %h3.subtitles Estos son los keynoters confirmados para este año
    .people
      .keynoter
        .keynoter-image
          = image_tag 'keynoters/agustin_villena.png'
        .keynoter-data
          .keynoter-data-name
            Rebecca Parsons
          .keynoter-data-bio
            Directora en Agile Alliance, CTO en ThoughtWorks.
          .keynoter-data-contact
            = link_to '#' do
              @Twitter
        .keynoter-data-topic
          = link_to '#' do
            Product & Design

