.dropdown.languages
  %button.dropbtn
    = image_tag t('language-selector.default')
  #myDropdown.dropdown-content
    %a{:href => "/"}
      = image_tag t('language-selector.spanish')
    %a{:href => "/en"}
      = image_tag t('language-selector.english')
