<div class="dropdown languages">
  <button class="dropbtn">
    <i class="material-icons">language</i>
    <span><%= t('home.language-selector.default') %></span>
  </button>
  <div id="myDropdown" class="dropdown-content">
    <a href="/"><%= t('home.language-selector.spanish') %></a>
    <a href="/en"><%= t('home.language-selector.english') %></a>
    <a href="/cn"><%= t('home.language-selector.chinese') %></a>
  </div>
</div>