%section.place#place
  .content
    %h2.titles= t('section_place.title')
    %h3.subtitles= t('section_place.subtitle')
    %h3.subtitles= t('section_place.reference')
  .map#map
    %iframe{allowfullscreen: "allowfullscreen", frameborder: "0", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.314058968094!2d-70.64298198510046!3d-33.44112340441915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c59e8c508d1f%3A0xd7d97f8d3bd83116!2sPontificia+Universidad+Cat%C3%B3lica+de+Chile!5e0!3m2!1ses!2scl!4v1473131040232", style: "border: 0"}
            

