/*  VARIABLES DE COLOR
–––––––––––––––––––––––––––*/

$main-color: #FFDD00;
$main-color-low: #fffcea;


/*  GENERALES
–––––––––––––––––––––––––––*/
html{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

*,
:after,
:before{
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', Arial, sans-serif;
  color: #fff;
  font-size: 100%;
  line-height: 1.5;
  background-color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------ Normalize ----- */
*,
*:after,
*:before {
  box-sizing: border-box;
}

ul:not(.browser-default) li {
  list-style-type: none;
}

ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
}

a{
  transition: all .25s ease-in-out;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  line-height: 1.1;
}

p{
  font-family: 'Quicksand', Arial, sans-serif;
}

section{
  &:nth-child(even){
    background-color: #fafafa;
  }
}

div, section{
  .content {
    width: 100%;
    max-width: 1178px;
    margin: 0 auto;
  }
}

.main-content{
  background-color: #f1f1f1;
  &:nth-child(odd){
    background-color: #f1f1f1;
  }
}

.titles, .subtitles{
  color: #666;
  //text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  font-family: 'PT Sans', Arial, sans-serif;
  margin: 0;
}

.titles{
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  &:after{
    display: inline-block;
    content: '';
    width: 30px;
    height: 6px;
    background-color: $main-color;
    position: absolute;
    bottom: 9px;
    right: -30px;
    animation: .8s blink step-end infinite;
  }
}

.subtitles{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: initial;
}


@keyframes "blink" {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: $main-color;
  }
}