/*HEADER*
------------------------*/
header{
  background-color: #444;
  .content{
    display: grid;
    grid-template-columns: 15% auto;
    width: 100%;
    max-width: 1178px;
    margin: 0 auto;
    .logo{
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;  
      img{
        width: 140px;
        position: absolute;
        top: 0;
        z-index: 1;
      }
    }
    .header-nav{
      transition: 1s cubic-bezier(0.26, -0.01, 0, 0.98);
      display: grid;
      grid-template-columns: auto 50px;
      ul{
        display: flex;
        justify-content: flex-end;
        margin: 0;
        li{
          a{
            color: #fd0;
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 600;
            padding: 20px 13px;
            display: block;
            &:hover,
            &:focus{
              color: #fff;
              background: rgba(0,0,0,0.2);
              text-decoration: none;
            }
            &.toggle-nav-mobile{
              display: none;
            }
          }
        }
      }
    }
    .toggle-nav-mobile{
      display: none;
    }
    .languages{
      margin-top: 16px;
      .dropbtn{
        border: none;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        width: 30px;
        margin-left: 10px;
        &:focus{
          outline: 0px;
        }
        img{
          width: 100%;
        }
      }
      .dropdown-content{
        position: absolute;
        z-index: 10;
        display: none;
        width: 30px;
        top: 0;
        right: 10px;
        a{
          color: #fff;
          display: block;
        }
      }
    }
  }
}
