/*HOME PRESENTATION*
------------------------*/
.home{
  background-color: rgba(0,0,0,0.2);
  background-image: image_url('wallpaper-site_12.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center 200px;
  //background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  position: relative;
  .description{
    background: white;
    text-align: left;
    width: 100%;
    .content{
      width: 100%;
      max-width: 1178px;
      margin: 0 auto;
      padding: 180px 0 70px;
      h2{
        color: #666;
        text-transform: uppercase;
        font-size: 2.8rem;
        font-weight: 700;
        font-family: 'PT Sans', Arial, sans-serif;
      }
      h1{
        color: #333;
        font-size: 1.8rem;
        font-family: 'PT Sans', Arial, sans-serif;
      }
      .cta{
        position: absolute;
        top: 350px;
        font-size: 2rem;
        font-weight: bold;
        display: inline-block;
        color: #333;
        padding: 20px;
        background-color: #fd0;
        &.button-fixed{
          position: fixed;
          top: 82px;
          transition: none;
        }
      }
    }
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px){
  .home{
    background-image: image_url('wallpaper-site_12.jpg');
    background-position: center 130px;
    background-attachment: initial;
    .description{
      padding: 30% 8% 8%;
      .content{
        padding: 0;
        text-align: center;
        h1{
          display: block;
          margin: 0;
          font-size: 1.5rem;
        }
        h2{
          font-size: 2rem;
          display: block;
          margin: 0 0 4% 0;
        }
        .cta{
          text-align: center;
          font-size: 1.8rem;
          width: 100%;
          top: 300px;
          left: 0;
          &.button-fixed{
            top: initial;
            bottom: 0;
            z-index: 3;
          }
        }
      }
    }
  }
}

@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 767px) {
  .home{
    background-image: image_url('wallpaper-site_12.jpg');
    background-position: center 130px;
    background-attachment: initial;
    .description{
      padding: 20% 8% 8%;
      .content{
        padding: 0;
        text-align: center;
        h1{
          display: block;
          margin: 0;
          font-size: 1.5rem;
        }
        h2{
          font-size: 3rem;
          display: block;
          margin: 0 0 4% 0;
        }
        .cta{
          text-align: center;
          font-size: 1.8rem;
          width: 100%;
          top: 280px;
          left: 0;
        }
      }
    }
  }
}

@media (min-width: 768px)
and (max-width: 1200px) {
  .home{
    .description{
      .content{
        max-width: 90%;
        .cta{
          top: 360px;
        }
      }
    }
  }
}