/* Portrait and Landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px){
  header{
    height: 66px;
    .content{
      width: 100%;
      grid-template-columns: 20% auto;
      .header-nav{
        display: block;
        transform: translate(320px, 0);
        position: fixed;
        background: #1A091B;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: 10;
        width: 85%;
        ul{
          display: block;
        }
        a{
          color: #fd0;
          border-bottom: 1px solid #46401a;
          text-align: center;
        }
        &.display{
          transform: translate(0, 0);
          .bg{
            background: rgba(0,0,0,0.2);
            z-index: -1;
            height: 100vh;
            width: 110vw;
            right: 300px;
          }
        }
        .bg{
          top: 0;
          right: 0;
          position: absolute;
          background: transparent;
          height: 1px;
          width: 1px;
        }
      }
      .logo img{
        height: 66px;
        width: initial;
      }
      .toggle-nav-mobile{
        color: #fd0;
        position: absolute;
        right: 3%;
        top: 10px;
        z-index: 1;
        width: 45px;
        height: 45px;
        padding: 10px;
      }
      .toggle-nav-mobile{
        display: block;
      }
    }
  }
  .home{
    background-image: url('../img/wallpaper-site_15.jpg');
    background-position: center 130px;
    background-attachment: initial;
    height: calc(100vh - 66px);
    .description{
      padding: 8%;
      height: 200px;
      .content{
        padding: 0;
        text-align: center;
        h1{
          display: block;
          margin: 0;
          font-size: 1.5rem;
        }
        h2{
          font-size: 2rem;
          display: block;
          margin: 0 0 4% 0;
        }
        .cta{
          text-align: center;
          font-size: 1.8rem;
          width: 100%;
          top: 195px;
          left: 0;
        }
      }
    }
  }
  footer{
    font-size: 1.4rem !important;
    .content{
      display: block !important;
      .social, .contact{
        text-align: center !important;
        padding: 5%;
      }
    }
  }
}

@media only screen 
and (min-device-width : 460px) 
and (max-device-width : 767px) {
  header{
    height: 66px;
    .content{
      width: 100%;
      grid-template-columns: 20% auto;
      .nav{
        display: block;
        text-align: right;
        padding: 20px;
        a{
          color: #fd0;
        }
      }
      .logo img{
        height: 66px;
        width: initial;
      }
    }
  }
  .home{
    background-image: url('../img/wallpaper-site_15.jpg');
    background-position: center 130px;
    background-attachment: initial;
    height: calc(100vh - 66px);
    .description{
      padding: 8%;
      height: 200px;
      .content{
        padding: 0;
        text-align: center;
        h1{
          display: block;
          margin: 0;
          font-size: 1.5rem;
        }
        h2{
          font-size: 2rem;
          display: block;
          margin: 0 0 4% 0;
        }
        .cta{
          text-align: center;
          font-size: 1.8rem;
          width: 100%;
          top: 195px;
          left: 0;
        }
      }
    }
  }
  footer{
    font-size: 1.4rem !important;
    .content{
      display: block !important;
      .social, .contact{
        text-align: center !important;
        padding: 5%;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  header{
    height: 66px;
    .content{
      grid-template-columns: 20% auto;
      max-width: 90%;
      .header-nav{
        display: block;
        text-align: right;
        transform: translate(0, 0);
        ul{
          li a{
            padding: 20px 10px;
            color: #fd0;
            border-bottom: 4px solid transparent;
            &:hover{
              border-color: #fd0;
            }
          }
        }
      }
    }
  }
  .home{
    .description{
      .content{
        max-width: 90%;
      }
    }
  }
  footer{
    .content{
      max-width: 90% !important;
      grid-template-columns: 30% auto !important;
    }
  }
}