/*SPONSORS*
------------------------*/
.sponsors, .organizers{
  .content{
    padding-top: 4%;
    padding-bottom: 2%;
    color: #666;
  }
  .categories{
    h4{
      text-transform: uppercase;
      display: block;
      padding: 5px;
      text-align: center;
    }
    .platinuum,
    .gold,
    .silver,
    .drink-up{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      a{
        width: 22%;
        img{
          mix-blend-mode: multiply;
          width: 100%;
        }
      }
    }
    .platinuum{
      a{
        width: 35%;
      }
    }
    .gold,
    .silver{
      a{
        width: 28%;
      }
    }
  }
  .organizers-all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    a{
      width: 25%;
      margin: 2%;
      img{
        mix-blend-mode: multiply;
        width: 100%;
      }
    }
  }
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px){
  .sponsors, .organizers{
    .content{
      padding: 8%;
      .titles, .subtitles{
        display: block;
        text-align: center;
        &:after{
          content: initial;
        }
      }
      .titles{
        font-size: 3rem;
      }
      .categories{
        h4{
          font-size: 1rem;
        }
      }
      .organizers-all,
      .categories{
        .platinuum,
        .gold,
        .silver,
        .drink-up{
          a{
            width: 45%;
          }
        }
      }
      .organizers-all a{
        width: 100%;
        margin: 0 20%;
      }
    }
  }
}

@media only screen 
and (min-device-width : 460px) 
and (max-device-width : 1210px) {
  .sponsors, .organizers{
    .content{
      padding: 8%;
      .titles, .subtitles{
        display: block;
        text-align: center;
        &:after{
          content: initial;
        }
      }
      .categories{
        h4{
          font-size: 2rem;
        }
      }
      .organizers-all,
      .categories{
        .platinuum,
        .gold,
        .silver,
        .drink-up{
          a{
            width: 35%;
          }
        }
      }
    }
  }
}

@media (min-width: 768px)
and (max-width: 1200px) {
  .sponsors,
  .organizers{
    .content{
      max-width: 90%;
    }
  }
}
