/*SPONSORS*
------------------------*/
.sponsors, .organizers{
  .content{
    padding-top: 4%;
    padding-bottom: 2%;
    color: #666;
  }
  .categories{
    h4{
      text-transform: uppercase;
      display: block;
      padding: 5px;
      text-align: center;
    }
    .platinuum,
    .gold,
    .silver,
    .drink-up{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      a{
        width: 22%;
        img{
          mix-blend-mode: multiply;
          width: 100%;
        }
      }
    }
    .platinuum{
      a{
        width: 38%;
      }
    }
    .gold{
      a{
        width: 28%;
      }
    }
  }
  .organizers-all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    a{
      width: 28%;
      margin: 2%;
      img{
        mix-blend-mode: multiply;
        width: 100%;
      }
    }
  }
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px){}

@media only screen 
and (min-device-width : 460px) 
and (max-device-width : 767px) {}

@media (min-width: 768px)
and (max-width: 1200px) {}
