.container-fluid.footer
  .row
    .col-md-12.social
      h3= footer.social.title
      ul
        li
          a.facebook(href= footer.social.facebook, title="Facebook", target="_blank")
        li
          a.twitter(href= footer.social.twitter, title="Twitter", target="_blank")
        li
          a.instagram(href= footer.social.instagram, title="Instagram", target="_blank")
        li
          a.vimeo(href= footer.social.vimeo, title="Vimeo", target="_blank")
  .row
    .col-md-12.contact
      a(href= footer.link_codigo.url)= footer.link_codigo.texto
      br
      != footer.contact.text
      br
      = footer.copyright