header
  .content
    .logo
      a(href=header.logo.url, title=base.title)
        img(src="assets/img/logo-starsconf-square.svg")
    a.toggle-nav-mobile(href='#')
      i.material-icons menu
    .nav.header-nav
      .bg
      ul
        each option, index in header.menu_options
          li
            a(href= option.url)= option.texto
  