.container-fluid.top-header
  .row
    .col-md-2
      .logo
        a(href=header.logo.url2, title=base.title)
          img(src="assets/img/logo-starsconf-transparent-2017.svg")
      a.button-collapse.visible-xs.visible-sm(href='#', data-activates='slide-out')
        i.material-icons menu
    .col-md-10
      ul.hidden-xs.hidden-sm
        each option, index in header.menu_options
          li
            a(href= option.url2)= option.texto

      ul#slide-out.side-nav
        each option, index in header.menu_options
          li
            a(href= option.url2)= option.texto

  