.containter-fluid.header
    .container-fluid.top-header
      .row
        .col-md-2
          .logo
            img(src="assets/img/logo-starsconf-transparent-2017.svg")
        .col-md-10
          ul
            li
              a(href="#") auspiciadores
            li
              a(href="#") organizadores
            li
              a(href="#") blog
            li
              a(href="#") código de conducta
    .container
      .row
        .col-md-12
          h2
            strong= fecha
            br
            = description_home
        .col-md-12.call-to-action
          a(href= link_buy_tickets, title="Comprar Tickets")= button_buy_tickets

  