.containter-fluid.header.home-header#background
  .container.home-bottom-header
    .row
      .col-md-12
        h2
          strong= homepage.fecha
          br
          = homepage.description_home
      .col-md-12.call-to-action
        a(href="#", title=homepage.videos_will_be_published_soon)= homepage.videos_will_be_published_soon
