.containter-fluid.header.home-header#background
  .container.home-bottom-header
    .row
      .col-md-12
        h2
          strong= homepage.fecha
          br
          = homepage.description_home
      .col-md-12.call-to-action
        a(href="https://www.youtube.com/channel/UCLkazZzOWJn38rtbgykpFOQ", title=homepage.videos_published_now)= homepage.videos_published_now
