.containter-fluid.header.home-header#background
  .container.home-bottom-header
    .row
      .col-md-12
        h2
          strong= homepage.fecha
          br
          = homepage.description_home
      .col-md-12.call-to-action
        a(href= homepage.link_buy_tickets, title= homepage.button_buy_tickets)= homepage.button_buy_tickets