.container-fluid.main-content.photos
  .row.title
    .col-md-12.section
      h2.title!= homepage.section_five.texto
  .row.grid
    - each image in homepage.section_five.images
      .col-md-2.col-xs-4
        img(src=image)
