.containter-fluid.main-content.tickets#entradas
  .container
    .row.title
      .col-md-12.section
        h2= homepage.section_one.title
        p No te quedes fuera de este tremendo evento, asegura tu entrada con los valores iniciales.
    .row.prices
      .col-md-3.col-xs-6
        .card
          h3 Preventa
          h4.price 100USD
      .col-md-3.col-xs-6.deactivate
        .card
          h3 Primera Fase
          h4.price 150USD
      .col-md-3.col-xs-6.deactivate
        .card
          h3 Fase Final
          h4.price 200USD
      .col-md-3.col-xs-6
        .card
          h3 Estudiantes
          h4.price.txt Mitad de precio
    
    .row
      .col-md-12.center
        a.btn.main-fill-btn(href= homepage.link_buy_tickets, title= homepage.button_buy_tickets)= homepage.button_buy_tickets

    .row.title
      .col-md-12.section
        p Todas las entradas incluyen: 
          strong Entrada para ambos días, acceso a Drink-up (ambos dias) y una polera del evento.