.home#background
  .description
    .content
      h2= homepage.fecha
      h1= homepage.description_home
      a.cta(href="https://welcu.com/startechconf/starsconf-2018", title=homepage.button_buy_tickets)= homepage.button_buy_tickets
