.container-fluid.main-content.what
  .container
    .row.title
      .col-md-12.section
        h2.title.scrollspy#what= homepage.section_six.title
        p= homepage.section_six.subtitle
      
    - var temas = homepage.section_six.temas
      each tema in temas
        .col-md-4.col-xs-12.tema
          h3= tema.title
          p!= tema.description