.home#background
  .content
    .description
      h2= homepage.fecha
      h1= homepage.description_home
    a.cta(href="https://welcu.com/startechconf/starsconf-2018", title=homepage.videos_will_be_published_soon)= homepage.button_buy_tickets
