= partial "partials/header"
= partial "partials/home-presentation"
= partial "partials/keynoters"
-#= partial "partials/speakers"
-#= partial "partials/sponsors"
-#= partial "partials/organizers"
-#= partial "partials/whatis"
-#= partial "partials/place"
-#= partial "partials/tickets"
= partial "partials/footer", locals: {clase: ''}