<section class="header-page">
  <%= partial "partials/header" %>
</section>
<section class="block">
	<div class="container">
		<div class="cases">
			<a href="#" class="case">
				<img class="case-image" src="http://i3.ytimg.com/vi/LaMXzmLbXf8/maxresdefault.jpg" alt="" >
				<div class="case-content">
					<h5 class="case-title">Lorem ipsum dolor</h5>
					<h3 class="case-heading">Lorem ipsum dolor sit amet</h3>
					<span class="case-btn">Ver video</span>
				</div>
			</a>
			<a href="#" class="case">
				<img class="case-image" src="http://i3.ytimg.com/vi/LaMXzmLbXf8/maxresdefault.jpg" alt="" >
				<div class="case-content">
					<h5 class="case-title">Lorem ipsum dolor</h5>
					<h3 class="case-heading">Lorem ipsum dolor sit amet</h3>
					<span class="case-btn">Ver artículo</span>
				</div>
			</a>
			<a href="#" class="case">
				<img class="case-image" src="http://i3.ytimg.com/vi/LaMXzmLbXf8/maxresdefault.jpg" alt="" >
				<div class="case-content">
					<h5 class="case-title">Lorem ipsum dolor</h5>
					<h3 class="case-heading">Lorem ipsum dolor sit amet</h3>
					<span class="case-btn">Ver video</span>
				</div>
			</a>
			<a href="#" class="case">
				<img class="case-image" src="http://i3.ytimg.com/vi/LaMXzmLbXf8/maxresdefault.jpg" alt="" >
				<div class="case-content">
					<h5 class="case-title">Lorem ipsum dolor</h5>
					<h3 class="case-heading">Lorem ipsum dolor sit amet</h3>
					<span class="case-btn">Ver artículo</span>
				</div>
			</a>
			<a href="#" class="case">
				<img class="case-image" src="http://i3.ytimg.com/vi/LaMXzmLbXf8/maxresdefault.jpg" alt="" >
				<div class="case-content">
					<h5 class="case-title">Lorem ipsum dolor</h5>
					<h3 class="case-heading">Lorem ipsum dolor sit amet</h3>
					<span class="case-btn">Ver video</span>
				</div>
			</a>
		</div>
	</div>
</section>
<%= partial "partials/footer" %>