
/*	GENERALES
–––––––––––––––––––––––––––*/
body {
	font-family: 'Open Sans', Arial, sans-serif, ;
	color: #fff;
	font-size: 100%;
	line-height: 1.5;
	background-color: #fff;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ------ Normalize ----- */
*,
*:after,
*:before {
	box-sizing: border-box;
}

a{
	transition: all .25s ease-in-out;
}

/* ------ Home ----- */

.main-content{
	background-color: #f1f1f1;
}

/*	VARIABLES DE COLOR
–––––––––––––––––––––––––––*/

$main-color: #FFDD00;
$main-color-low: #fffcea;


.alert.alert-sc{
	background-color: $main-color-low;
	color: #555;
}