/*HEADER*
------------------------*/
.footer {
  background: #fd0;
  font-size: 1.8em;
  color: #000;
  .row{
    margin-bottom: 0;
  }
  .social{
    text-align: center;
    padding: 20px 0 0;
    h3 {
      font-weight: 300;
      font-size: 2em;
      color: #333;
    }
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        display: inline-block;
        margin: 4px 10px;
        a{
          display: block;
          width: 42px;
          height: 40px;
          background: url('../img/sprite_social.svg') no-repeat;
          //filter:brightness(0%);
          &:hover{
            filter:brightness(30%);
          }
          &.facebook{
            background-position: 0 0;
          }
          &.twitter{
            background-position: -46px 0;
          }
          &.vimeo{
            background-position: -93px 0;
          }
          &.instagram{
            background-position: -144px 0;
          }
        }
      }
    }
  }
  .contact{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    a{
      color: #000;
      text-decoration: underline;
    }
  }
}