/*HEADER*
------------------------*/
.header {
  padding: 0;
  background-image: url('../img/header-bg.jpg');
  background-position: 0 0;
  background-color: rgba(0,0,0,0.50);
  background-blend-mode: multiply;
  &.home-header{
    background-size: cover;
    background-color: rgba(0,0,0,0.70);
    background-image: url('../img/wallpaper-site_1.jpg');
    background-attachment: fixed;
    height: 100vh;
  }
  .top-header{
    background: rgba(0,0,0,0.4);
    height: 140px;
  }
  /*&:before{
    content: '';
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    position: absolute;
  }*/
  h2 {
    font-weight: 100;
    text-align: center;
    font-size: 2.6em;
    display: block;
    width: 80%;
    margin: 13% auto;
    line-height: 140%;
    strong{
      font-size: 1.8em;
      margin-bottom: 1px;
      display: block;
      text-transform: uppercase;
    }
  }
  .logo{
    display: block;
    width: 200px;
    padding: 10px 10px 20px;
    img{
      width: 100%;
    }
  }
  ul{
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    li{
      float: left;
      a{
        display: block;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.3em;
        padding: 60px 18px;
        height: 140px;
        &:hover,
        &:focus{
          text-decoration: none;
          color: $main-color;
          border-bottom: 4px solid $main-color;
          //background: rgba(0,0,0,0.1);
          cursor: pointer;
        }
      }
    }
  }
  .call-to-action{
    text-align: center;
    a{
      display: inline-block;
      padding: 20px;
      border: 1px solid #FFDD00;
      color: #FFDD00;
      font-size: 2em;
      font-weight: 600;
      border-radius: 3px;
      cursor: pointer;
      &:hover,
      &:focus{
        text-decoration: none;
        color: #111;
        background-color: yellow;
        //box-shadow: 0 -2px 16px rgba(0,0,0,0.9);
      }
    }
  }
}