/*NEW HEADER*
------------------------*/
header{
  background-color: #444;
  .content{
    display: grid;
    grid-template-columns: 15% auto;
    width: 100%;
    max-width: 1178px;
    margin: 0 auto;
    .logo{
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;  
      img{
        width: 140px;
        position: absolute;
        top: 0;
        z-index: 1;
      }
    }
    .nav{
      display: grid;
      padding: 0;
      ul{
        display: flex;
        justify-content: flex-end;
        margin: 0;
        li{
          a{
            color: #fd0;
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 600;
            padding: 20px 13px;
            display: block;
            &:hover{
              color: #fff;
              background: rgba(0,0,0,0.2);
              text-decoration: none;
            }
          }
        }
      }
      .side-nav{
        display: initial;
        li a{
          margin-top: 0;
          text-decoration: none;
        }
      }
    }
  }
}

#sidenav-overlay{
  z-index: 0;
}
.side-nav,
ul.side-nav{
  z-index: 1000;
  background: #333;
  li{
    float: none;
    line-height: 100%;
    a{
      display: block;
      text-align: right;
      color: #fff;
      padding: 30px;
      height: auto;
      line-height: 120%;
      border-top: 1px solid rgba(255,255,255,0.1);
      border-bottom: 1px solid rgba(0,0,0,0.3);
      &:hover,
      &:focus,
      &:active{
        background-color: #333;
        border-bottom-width: 1px;
        border-top-color: $main-color;
      }
    }
  }
}

.drag-target{
  z-index: 10;
}
