/*HOME*
------------------------*/
.main-content{
  background: #fff;
  color: #777;
  font-size: 2em;
  font-weight: 100;
  padding: 40px 15px 80px 15px;
  line-height: 150%;
  letter-spacing: -0.01em;
  &.single-page{
    padding-top: 180px;
    .section{
      margin: 10px 0 30px 0;
      text-align: left;
      .credits{
        font-size: 0.8em;
        li{
          margin-bottom: 10px;
        }
      }
      h2, h3, h4, h5, h6, p{
        text-align: left;
        color: #666;
      }
      h3{
        font-size: 1.6em;
      }
      p{
        color: #999;
      }
    }
  }
  
  .section{
    h2, h3, h4, h5, h6{
      font-size: 2.2em;
      font-weight: 800;
      letter-spacing: -0.03em;
      margin-bottom: 20px;
      text-align: center;
      display: block;
    }
    p{
      font-size: 1em;
      text-align: center;
      margin-bottom: 0px;
    }
    h5{
      font-size: 1.6em;
      margin-bottom: 0;
    }
  }
}

/*TICKETS*
------------------------*/

 .tickets{
  .title,
  .title .section{
    background: none;
    margin-bottom: 0;
  }
  .prices{
    div{
      text-align: center;
      &.deactivate .card,
      &.deactivate h3,
      &.deactivate h4,
      &.deactivate h5{
        opacity: 0.5;
        filter: grayscale(100%);
      }
      &.deactivate.soldout{
        position: relative;
        overflow: hidden;
        filter: none;
        &:before{
          content: 'Agotado';
          position: absolute;
          z-index: 1;
          text-align: left;
          left: 0;
          top: 55px;
          width: 135px;
          height: 50px;
          text-transform: uppercase;
          background: red;
          color: #fff;
          padding: 10px 20px;
        }
        &:after{
          content: '';
          position: absolute;
          z-index: 1;
          left: 0;
          width: 0; 
          height: 0; 
          border-top: 0px solid transparent;
          border-bottom: 15px solid transparent;
          border-right: 15px solid #bb0000;
          top: 105px;
        }
      }
      .card{
        height: 210px;
        border-radius: 3px;
        background: #ffe866;
        color: #222;
        h3{
          color: #fff;
          background: #555;
          text-transform: uppercase;
          display: block;
          padding: 15px 0;
          //border-bottom: 3px dotted #fd0;
        }
      }
    }
    .price{
      padding: 30px 0 0;
      margin-bottom: 0;
      font-size: 2em;
      color: #444;
      &.txt{
        font-size: 1.5em;
      }
    }
    h5.subprice,
    .subprice{
      font-size: 1em;
      color: #444;
      margin-top: 0;
    }
  }
}

/*PLACE*
------------------------*/
.place{
  background-color: #ffd600 !important;
  background-image: url('../img/puc-alameda.jpg');
  background-repeat: no-repeat;
  background-position: 0 bottom;
  background-size: cover;
  background-blend-mode: multiply;
  color: #000;
  h2{
    color: #000;
  }
  .map{
    width: 100%;
    border: 8px solid #fff;
    border-bottom: none;
    iframe{
      width: 100%;
      height: 350px;
    }
  }
}

/*PHOTOS*
------------------------*/

.photos{
  position: relative;
  padding: 0;
  .grid{
    margin: 0;
    background: black;
    .col-md-2{
      padding: 1px;
      margin: 0;
      overflow: hidden;
      height: 290px;
      opacity: 0.5;
      img{
        width: 100%;
      }
    }
  }
  .title{
    position: absolute;
    width: 100%;
    top: 35%;
    z-index: 1;
    color: #fff;
    font-size: 1.2em;
    a{
      color: $main-color;
      text-decoration: underline;
    }
  }
}

/*KEYNOTERS*
------------------------*/

.keynoters{
  .people{
    padding: 20px 0;
    .keynoter{
      min-height: 430px;
      .image{
        width: 100%;
        height: 270px;
        overflow: hidden;
        border: 8px solid $main-color;
        border-radius: 50%;
        img{
          height: 100%;
        }
      }
      .data{
        color: #666;
        text-align: center;
        padding: 20px 0;
        p{
          font-size: 0.9em;
          font-family: "Lato";
          font-weight: bold;
          line-height: 110%;
          text-transform: uppercase;
        }
        span{
          font-size: 0.7em;
          line-height: 130%;
          display: block;
        }
      }
      &.off{
        opacity: 0.3;
        .image{
          border-color: #999;
        }
      }
    }
  }
}

/*SPONSORS*
------------------------*/

.sponsors{
  
}
