/* Portrait and Landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px){
  header{
    height: 66px;
    .content{
      width: 100%;
      grid-template-columns: 20% auto;
      .nav{
        display: block;
        text-align: right;
        padding: 20px;
        a{
          color: #fd0;
        }
        .side-nav{
          li a{
            text-align: left;
          }
        }
      }
      .logo img{
        height: 66px;
        width: initial;
      }
    }
  }
  .home{
    background-image: url('../img/wallpaper-site_15.jpg');
    background-position: center 130px;
    .content{
      margin: 0;
      width: 100%;
      .description{
        padding: 8%;
        h1{
          display: block;
          margin: 0;
          font-size: 1.5rem;
        }
        h2{
          font-size: 1.6rem;
          display: block;
          margin: 0 0 4% 0;
        }
      }
      .cta{
        text-align: center;
        font-size: 1.8rem;
        bottom: 3%;
        width: 90%;
        left: 5%;
      }
    }
  }
  .footer{
    font-size: 1.4rem !important;
  }
  .top-header{
    height: initial;
    .logo{
      width: 110px;
      padding: 10px 0;
    }
    .button-collapse{
      position: absolute;
      right: 10px;
      top: 25px;
      padding: 10px;
      color: #fff;
      cursor: pointer;
      &:hover,
      &:focus{
        color: $main-color;
      }
    }
  }

  .header{
    .home-bottom-header{
      padding: 40% 0 20% 0;
      font-size: 75%;
      h2{
        font-size: 200%;
        margin: 0;
        width: 100%;
        margin-bottom: 10%;
        strong{
          font-size: 1.4em;
        }
      }
      .call-to-action a{
        padding: 14px;
        font-size: 1.6em;
        width: 100%;
      }
    }
    &.home-header{
      height: initial;
      min-height: initial;
      background-size: cover;
      background-image: url(../img/wallpaper-site_5.jpg);
      background-blend-mode: multiply;
      .top-header{
        background-color: black;
        height: initial;
        &.bg-scroll-header{
          background-color: #000;
        }
      }
    }
  }

  .main-content{
    font-size: 1.5em;
    line-height: 130%;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 300;
    &.container,
    &.container-fluid{
      width: 100%;
      color: #444;
      text-align: center;
      padding-bottom: 30px;
      .section{
        text-align: left;
        h2{
          display: block;
          text-transform: uppercase;
          font-size: 1.4em;
          font-weight: 600;
        }
        h3{
          display: block;
          text-transform: uppercase;
          font-size: 1.1em;
          font-weight: 600;
        }
        .credits{
          font-size: 0.8em;
          li{
            margin-bottom: 10px;
          }
        }
      }
    }
    &.single-page{
      padding: 120px 0 0 0;
    }
    .alert{
      margin: 30px 0;
      border-radius: 0px;
    }
    &.keynoters{
      .people{
        padding-top: 0;
        .keynoter,
        .keynoter2{
          min-height: 180px;
          .image{
            height: 120px;
            width: 120px;
            border-width: 4px;
            img{
              height: 100%;
            }
          }
          &.off{
            display: none;
            &:nth-child(1){
              display: block;
            }
          }
          .data{
            p{
              font-size: 1em;
            }
          }
        }
        .keynoter:nth-child(7){
          margin-left: initial;
        }
        .section{
          display: none;
        }
      }
    }
    &.place{
      .map{
        border: 4px solid #fff;
        margin: 0;
        iframe{
          height: 200px;
        }
      }
    }
    &.sponsors{
      h4{
        font-size: 90%;
      }
      .platinuum,
      .gold,
      .silver,
      .organizadores{
        div{
          min-height: auto;
          img{
            width: 70%;
          }
        }
        .title{
          min-height: 30px;
        }
      }
    }
    &.what{
      .tema{
        min-height: auto;
        h3{
          font-size: 110%;
        }
      }
    }
    &.photos{
      padding-bottom: 0;
      .title{
        font-size: 75%;
        padding: 0 20px;
        line-height: 140%;
      }
    }
    &.tickets{
      .prices{
        .card{
          height: initial;
          min-height: 160px;
          .price{
            padding-top: 15px;
          }
          h3{
            font-size: 90%;
          }
        }
      }
    }
  }
  .container-fluid .container{
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .footer .social h3{
    font-size: 160% !important;
  }
  .hidden-xs,
  .hidden-sm{
    display: none;
  }
  .col-xs-4{
    width: 33.33333333%;
    height: 33.33333333%;
    float: left;
    padding: 0 !important;
  }

  .keynoters-full{
    padding-right: 0;
    padding-left: 0;
    font-size: 90%;
    .keynoter-block{
      text-align: center;
      min-height: initial;
      margin-top: 0;
      p{
        text-align: left;
      }
      span{
        display: block;
      }
      .keynote{
        text-align: left;
        margin-bottom: 10%;
        &:nth-child(2){
          margin-top: 15%;
        }
        h5{
          width: 100%;
        }
        ol{
          padding-left: 20px;
        }
        .keynote_about{
          position: relative;
          right: 0;
          top: 0;
          zoom: 90%;
        }
      }
    }
    .image{
      width: 200px;
      height: 200px;
    }
  }
}

@media only screen 
and (min-device-width : 376px) 
and (max-device-width : 767px) {
  header{
    .content{
      grid-template-columns: 20% auto;
      .nav{
        display: block;
        text-align: right;
        padding: 20px;
        a{
          color: #fd0;
        }
        .side-nav{
          li a{
            text-align: left;
          }
        }
      }
    }
  }
  .newhome{
    height: 90vh;
    .content{
      margin: 20px;
      width: 90%;
      .description{
        h1{
          font-size: 2.6rem;
        }
        h2{
          font-size: 2rem;
        }
      }
      .cta{
        float: none;
        text-align: center;
        font-size: 1.4rem;
      }
    }
  }
  .footer{
    font-size: 1.4rem !important;
  }
  .top-header{
    &.bg-scroll-header{
      background-color: #000;
    }
    .logo{
      width: 30%;
      padding: 10px 0;
    }
    .button-collapse{
      position: absolute;
      right: 10px;
      padding: 10px;
      top: 30%;
      color: #fff;
      cursor: pointer;
      &:hover,
      &:focus{
        color: $main-color;
      }
      i{
        font-size: 300%;
      }
    }
  }

  .header{
    .home-bottom-header{
      font-size: 80%;
      padding: 50% 0 20% 0;
      .call-to-action a{
        padding: 14px;
        font-size: 220%;
        width: 95%;
      }
      h2{
        font-size: 220%;
        margin: 0;
        width: 100%;
        margin-bottom: 10%;
        strong{
          font-size: 150%;
        }
      }
    }
    &.home-header{
      .top-header{
        background-color: black;
        height: initial;
        &.bg-scroll-header{
          background-color: #000;
        }
      }
    }
  }

  .main-content{
    font-size: 1.5em;
    line-height: 130%;
    padding-top: 20%;
    font-weight: 300;
    &.container,
    &.container-fluid{
      width: 100%;
      color: #444;
      text-align: center;
      padding-bottom: 30px;
      .section{
        text-align: left;
        h2{
          display: block;
          text-transform: uppercase;
          font-size: 1.4em;
          font-weight: 600;
        }
        h3{
          display: block;
          text-transform: uppercase;
          font-size: 1.1em;
          font-weight: 600;
        }
        .credits{
          font-size: 0.8em;
          li{
            margin-bottom: 10px;
          }
        }
      }
    }
    .alert{
      margin: 30px 0;
      border-radius: 0px;
    }
    &.keynoters{
      .people{
         .keynoter{
            min-height: 260px;
          .image{
            height: 170px;
            width: 170px;
            border-width: 4px;
            img{
              height: 100%;
            }
          }
          .data{
            font-size: 130%;
          }
          &.off{
            display: none;
          }
        }
      }
    }
    &.place{
      .map{
        border: 4px solid #fff;
        margin: 0;
        iframe{
          height: 300px;
        }
      }
    }
    &.sponsors{
      h4{
        font-size: 90%;
      }
      .platinuum,
      .gold,
      .silver,
      .organizadores{
        div{
          min-height: auto;
          img{
            width: 70%;
          }
        }
        .title{
          min-height: 30px;
        }
      }
    }
    &.what{
      .tema{
        min-height: auto;
        h3{
          font-size: 130%;
        }
      }
    }
    &.photos{
      padding: 0;
      .title{
        font-size: 95%;
        padding: 0 20px;
        line-height: 140%;
      }
    }
    &.tickets{
      .prices{
        .card{
          height: 160px;
          .price{
            padding-top: 15px;
          }
          h3{
            font-size: 110%;
          }
        }
      }
    }
  }
  &.container-fluid{
    padding: 15px;
    .container{
      padding: 0;
      margin: 0;
      width: 100%;
    }
  }
  .hidden-xs,
  .hidden-sm{
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  header{
    .content{
      grid-template-columns: 20% auto;
      .nav{
        display: block;
        text-align: right;
        padding: 20px;
        a{
          color: #fd0;
        }
        .side-nav{
          li a{
            text-align: left;
          }
        }
      }
    }
  }
  
  .top-header{
    &.bg-scroll-header{
      background-color: #000;
    }
    .logo{
      width: 150px;
      padding: 10px 0;
    }
    .button-collapse{
      position: absolute;
      right: 10px;
      padding: 10px;
      top: 30%;
      color: #fff;
      cursor: pointer;
      &:hover,
      &:focus{
        color: $main-color;
      }
      i{
        font-size: 300%;
      }
    }
  }

  .header{
    height: initial;
    min-height: initial;
    .home-bottom-header{
      font-size: 80%;
      padding: 50% 0 20% 0;
      .call-to-action a{
        padding: 24px;
        font-size: 380%;
        width: 75%;
      }
      h2{
        font-size: 400%;
        margin: 0;
        width: 100%;
        margin-bottom: 10%;
        strong{
          font-size: 150%;
        }
      }
    }
    &.home-header{
      height: initial;
      min-height: initial;
      .top-header{
        background-color: black;
        height: initial;
        &.bg-scroll-header{
          background-color: #000;
        }
      }
    }
  }

  .main-content{
    font-size: 1.5em;
    line-height: 130%;
    padding-top: 20%;
    font-weight: 300;
    &.container,
    &.container-fluid{
      width: 100%;
      color: #444;
      text-align: center;
      padding-bottom: 30px;
      .section{
        text-align: left;
        h2{
          display: block;
          text-transform: uppercase;
          font-size: 240%;
          font-weight: 600;
        }
        h3{
          display: block;
          text-transform: uppercase;
          font-size: 200%;
          font-weight: 600;
        }
        p{
          font-size: 150%;
          line-height: 140%;
        }
        .credits{
          font-size: 0.8em;
          li{
            margin-bottom: 10px;
          }
        }
      }
    }
    .alert{
      margin: 30px 0;
      border-radius: 0px;
    }
    &.keynoters{
      .people{
         .keynoter{
            min-height: 380px;
          .image{
            border-width: 8px;
            img{
              height: 100%;
            }
          }
          .data{
            font-size: 160%;
          }
        }
      }
    }
    &.place{
      .map{
        border: 4px solid #fff;
        margin: 0;
        iframe{
          height: 420px;
        }
      }
    }
    &.sponsors{
      h4{
        font-size: 150%;
      }
      .platinuum,
      .gold,
      .silver,
      .organizadores{
        div{
          min-height: auto;
        }
        .col-md-12{
          img{
            width: 40%;
          }
        }
        .col-md-6{
          img{
            width: 70%;
          }
        }
        .col-md-4{
          img{
            width: 80%;
          }
        }
        .title{
          min-height: 30px;
        }
      }
    }
    &.what{
      .tema{
        min-height: 390px;
        h3{
          font-size: 150%;
        }
        p{
          font-size: 130%;
          line-height: 130%;
        }
      }
    }
    &.photos{
      padding: 0;
      .title{
        font-size: 95%;
        padding: 0 20px;
        line-height: 140%;
      }
    }
    &.tickets{
      .prices{
        .card{
          height: 160px;
          .price{
            padding-top: 15px;
          }
          h3{
            font-size: 110%;
          }
        }
      }
    }
  }
  &.container-fluid{
    padding: 15px;
    .container{
      padding: 0;
      margin: 0;
      width: 100%;
    }
  }
}