/* Portrait and Landscape */
@media (max-width: 375px){
  .top-header{
    height: initial;
    .logo{
      width: 110px;
      padding: 10px 0;
    }
    .button-collapse{
      position: absolute;
      right: 10px;
      top: 25px;
      padding: 10px;
      color: #fff;
      cursor: pointer;
      &:hover,
      &:focus{
        color: $main-color;
      }
    }
  }

  .header{
    .home-bottom-header{
      padding: 50% 0 20% 0;
      h2{
        font-size: 1.6em;
        margin: 0;
        width: 100%;
        margin-bottom: 10%;
        strong{
          font-size: 1.4em;
        }
      }
      .call-to-action a{
        padding: 14px;
        font-size: 1.6em;
        width: 100%;
      }
    }
    &.home-header{
      height: initial;
      min-height: initial;
      .top-header{
        background-color: black;
        height: initial;
        &.bg-scroll-header{
          background-color: #000;
        }
      }
    }
  }

  .main-content{
    font-size: 1.5em;
    line-height: 130%;
    padding-top: 30%;
    font-weight: 300;
    .container{
      width: 100%;
      color: #444;
      text-align: center;
      .section{
        margin: 10px 0;
        text-align: left;
        .credits{
          font-size: 0.8em;
          li{
            margin-bottom: 10px;
          }
        }
      }
    }
    h2{
      display: block;
      text-transform: uppercase;
      font-size: 1.4em;
      font-weight: 600;
    }
    h3{
      display: block;
      text-transform: uppercase;
      font-size: 1.1em;
      font-weight: 600;
    }
    .alert{
      margin: 30px 0;
      border-radius: 0px;
    }
  }
}

@media (min-width: 376px) and (max-width: 990px) {
  .top-header{
    &.bg-scroll-header{
      background-color: #000;
    }
    .logo{
      width: 22%;
      padding: 10px 0;
    }
    .button-collapse{
      position: absolute;
      right: 10px;
      padding: 10px;
      top: 30%;
      color: #fff;
      cursor: pointer;
      &:hover,
      &:focus{
        color: $main-color;
      }
      i{
        font-size: 300%;
      }
    }
  }

  .header{
    height: initial;
    min-height: initial;
    .home-bottom-header{
      font-size: 80%;
      padding: 50% 0 20% 0;
      .call-to-action a{
        padding: 14px;
        font-size: 220%;
        width: 95%;
      }
      h2{
        font-size: 220%;
        margin: 0;
        width: 100%;
        margin-bottom: 10%;
        strong{
          font-size: 150%;
        }
      }
    }
    &.home-header{
      height: initial;
      min-height: initial;
      .top-header{
        background-color: black;
        height: initial;
        &.bg-scroll-header{
          background-color: #000;
        }
      }
    }
  }

  .main-content{
    font-size: 1.5em;
    line-height: 130%;
    padding-top: 20%;
    font-weight: 300;
    .container{
      width: 100%;
      color: #444;
      text-align: center;
      .section{
        margin: 10px 0;
        text-align: left;
        .credits{
          font-size: 0.8em;
        }
      }
    }
    h2{
      display: block;
      text-transform: uppercase;
      font-size: 1.4em;
      font-weight: 600;
    }
    h3{
      display: block;
      text-transform: uppercase;
      font-size: 1.1em;
      font-weight: 600;
    }
    .alert{
      margin: 30px 0;
      border-radius: 0px;
    }
  }
}