//Variables de color
$general-color: #455166;
$general-dark: #1A091B;
$general-light: #FFFFFF;
$highlight-color: #F25565;
$highlight-second-color: #42A5F5;
$highlight-third-color: #42C6B9;
$highlight-fourth-color: #7E57C2;