.container-fluid.footer
  .row-fluid
    .col-lg-12.text-center
      %img{src:'images/startechconf_logo_mini.png'}
      %p
        Si quieres saber algo más y no lo encuentras en este sitio escríbenos a
        %a.highlight{href:'mailto:contact@startechconf.com'} contact@startechconf.com
