= partial "menu"

.container.mainSponsors
  .row-fluid
    .col-lg-12


.container.conduct
  %h2 Código de Conducta
  %p
    Se requiere que todos los asistentes, ponentes, patrocinadores y voluntarios
    de nuestra conferencia acepten el siguiente código de conducta.
    Los organizadores harán cumplir este código a lo largo del evento.
    Esperamos la colaboración de todos los participantes para ayudar a asegurar un
    ambiente seguro para todos.
  %p
    %em Resumiendo: no seas idiota
  %h2 La Versión Rápida
  %p
    Nuestra conferencia se dedica a ofrecer una experiencia libre de abusos para todos, independientemente de su género, orientación sexual, discapacidad, apariencia física, talla, raza o religión. No toleramos abusos de los participantes de la conferencia en ninguna de sus formas. El lenguaje e imágenes sexuales no son apropiados para ninguna sala de la conferencia, incluyendo charlas, talleres, fiestas, Twitter y otros medios online. Los participantes de la conferencia que violen estas reglas pueden ser sancionados o expulsados de la misma
    %em sin reembolso
    a discreción de los organizadores.
  %h2 La Versión Menos Corta
  %p Los abusos incluyen: comentarios ofensivos relativos a género, orientación sexual, discapacidad, apariencia física, talla, raza, religión, imágenes sexuales en espacios públicos, intimidación deliberada, acoso, persecución, fotografía o grabación de abusos, interrupciones continuadas de charlas u otros eventos, contacto físico inapropiado y atención sexual no deseada.
  %p Se espera que los participantes instados a parar cualquier comportamiento abusivo obedezcan inmediatamente.
  %p Los patrocinadores también están sujetos a la política contra abusos. En particular, los patrocinadores no deberían utilizar imágenes, actividades u otro material con contenido sexual. El personal de los puestos (voluntarios incluidos) no debería usar ropa/uniformes/disfraces sexualizados, o que de otra manera crean un ambiente sexualizado.
  %p Si un participante incurre en un comportamiento abusivo, los organizadores de la conferencia pueden tomar cualquier acción que estimen oportuna, incluyendo advertencias al ofensor o su expulsión de la conferencia sin reembolso.
  %p Esperamos que los participantes sigan estas reglas en la la conferencia, talleres y eventos sociales relacionados con la conferencia.
  %h2 ¿Necesitas ayuda?
  %p Si estás sufriendo algún abuso, adviertes abusos sobre otra persona, o tienes alguna otra preocupación, por favor contacta con algún miembro del personal de la conferencia inmediatamente. El personal de la conferencia puede ser fácilmente identificado, ya que vestirán camisetas del evento.
  %p Si el problema es urgente podrás contactar a los números de teléfono que publicaremos en esta misma página prontamente.

  -# %ul
  -#   %li Liliana Reyes (+569 7669 1128)
  -#   %li Jano González (+569 7477 5923)
  -#   %li Rodrigo Augosto (+569 8198 3683)
  -#   %li Leo Soto (+569 8733 9008)
  -#   %li
  -#     Si no puedes comunicarte por teléfono, pide ayuda a contact@startechconf.com o a
  -#     = succeed "." do
  -#       %a{:href => "http://twitter.com/startechconf"} @startechconf

  %p El personal de la conferencia estará contento de ayudar a los participates a contactar con la seguridad del hotel/sala o con las autoridades locales, proveer escolta o asistir de otra manera a aquellos que estén sufriendo abusos para que se sientan seguros mientras dure la conferencia. Valoramos tu asistencia.
  %p
    %strong Recuerda que siempre puedes decir que no a algo que no quieras hacer o escuchar. Si no te escuchan, te ayudamos.
    %p
      %small
        %em
          Fuente original y créditos:
          %a{:href => "http://2012.jsconf.us/#/about"} http://2012.jsconf.us/#/about
          \&
          %a{:href => "http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy"} The Ada Initiative
          %br/
          Por favor, ayuda traduciendo o mejorando:
          %a{:href => "https://github.com/leftlogic/confcodeofconduct.com"} http://github.com/leftlogic/confcodeofconduct.com
          %br/
          Este trabajo está licenciado bajo
          %a{:href => "http://creativecommons.org/licenses/by/3.0/deed.en_US", :rel => "license"} Creative Commons Atribución 3.0 Unported License


%br
= partial "gallery"
= partial "footer"