---
title: Welcome to Middleman
---
<div style="text-align: center;">
  <img src="images/logos/logo_bci_labs_black.svg" style="width: 50%">
</div>

<%= link_to("Bci Labs", "http://bcilabs.cl", target: "_blank") %>
