= partial "menu"

.container.mainSponsors
  .row-fluid
    .col-lg-12
      %h2.text-center Organizadores
      %h3.text-center Los visionarios detrás de la edición 2015
  .row-fluid
    .col-xs-12.col-sm-6.col-lg-6.text-center
      %img.img-responsive.photo{src:'../images/continuum.png'}
      %h4 Continuum
      %p Desarrolladores, diseñadores y consultores apasionados por hacer realidad negocios y productos digitales con un enfoque centrado en el usuario. Tenemos una mezcla única de tecnología, experiencia de usuario e innovación.
    .col-xs-12.col-sm-6.col-lg-6.text-center
      %img.img-responsive.photo{src:'../images/synaptic.png'}
      %h4 Synaptic
      %p En Synaptic destinamos nuestras energías entregando soluciones tecnológicas que sean innovadoras, especializadas y escalables donde el mayor activo es nuestro equipo y su ingenio colaborativo para crear soluciones inimaginables, haciendo que un problema nunca más sea un problema.

  -# .row
  -#   .col-lg-12
  -#     %h4.titleSection.text-center La Startechconf 2015 no sería posible sin la organización, ayuda y paciencia de:

  -# .row-fluid.localSpeakers.OK
  -#   .col-xs-12.col-sm-6.col-lg-3
  -#     %img.photo{src:'../images/speaker1.jpg'}
  -#     %h4 Lucinda Robertson
  -#     %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
  -#   .col-xs-12.col-sm-6.col-lg-3
  -#     %img.photo{src:'../images/speaker2.jpg'}
  -#     %h4 Lucinda Robertson
  -#     %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
  -#   .col-xs-12.col-sm-6.col-lg-3
  -#     %img.photo{src:'../images/speaker3.jpg'}
  -#     %h4 Lucinda Robertson
  -#     %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
  -#   .col-xs-12.col-sm-6.col-lg-3
  -#     %img.photo{src:'../images/speaker4.jpg'}
  -#     %h4 Lucinda Robertson
  -#     %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
  -# .row-fluid.localSpeakers
  -#   .col-xs-12.col-sm-6.col-lg-3
  -#     %img.photo{src:'../images/speaker4.jpg'}
  -#     %h4 Lucinda Robertson
  -#     %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
  -#   .col-xs-12.col-sm-6.col-lg-3
  -#     %img.photo{src:'../images/speaker3.jpg'}
  -#     %h4 Lucinda Robertson
  -#     %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
  -#   .col-xs-12.col-sm-6.col-lg-3
  -#     %img.photo{src:'../images/speaker2.jpg'}
  -#     %h4 Lucinda Robertson
  -#     %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
  -#   .col-xs-12.col-sm-6.col-lg-3
  -#     %img.photo{src:'../images/speaker1.jpg'}
  -#     %h4 Lucinda Robertson
  -#     %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
  -# .row-fluid.localSpeakers
  -#   .col-xs-12.col-sm-6.col-lg-3
  -#     %img.photo{src:'../images/speaker1.jpg'}
  -#     %h4 Lucinda Robertson
  -#     %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
  -#   .col-xs-12.col-sm-6.col-lg-3
  -#     %img.photo{src:'../images/speaker2.jpg'}
  -#     %h4 Lucinda Robertson
  -#     %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
  -#   .col-xs-12.col-sm-6.col-lg-3
  -#     %img.photo{src:'../images/speaker3.jpg'}
  -#     %h4 Lucinda Robertson
  -#     %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
  -#   .col-xs-12.col-sm-6.col-lg-3
  -#     %img.photo{src:'../images/speaker4.jpg'}
  -#     %h4 Lucinda Robertson
  -#     %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker

  -# .row
  -#   .col-lg-12
  -#     %h4.titleSection.text-center …y el valioso trabajo y dedicación de:


  -# .row-fluid.secondarySponsors
  -#   .col-xs-12.col-sm-6.col-lg-3
  -#     %img.photo{src:'../images/speaker4.jpg'}
  -#     %h4 Lucinda Robertson
  -#     %p @lucyRobertson
  -#   .col-xs-12.col-sm-6.col-lg-3
  -#     %img.photo{src:'../images/speaker3.jpg'}
  -#     %h4 Lucinda Robertson
  -#     %p @lucyRobertson
  -#   .col-xs-12.col-sm-6.col-lg-3
  -#     %img.photo{src:'../images/speaker2.jpg'}
  -#     %h4 Lucinda Robertson
  -#     %p @lucyRobertson
  -#   .col-xs-12.col-sm-6.col-lg-3
  -#     %img.photo{src:'../images/speaker1.jpg'}
  -#     %h4 Lucinda Robertson
  -#     %p @lucyRobertson
  -# .row-fluid.secondarySponsors
  -#   .col-xs-12.col-sm-6.col-lg-3
  -#     %img.photo{src:'../images/speaker1.jpg'}
  -#     %h4 Lucinda Robertson
  -#     %p @lucyRobertson
  -#   .col-xs-12.col-sm-6.col-lg-3
  -#     %img.photo{src:'../images/speaker2.jpg'}
  -#     %h4 Lucinda Robertson
  -#     %p @lucyRobertson
  -#   .col-xs-12.col-sm-6.col-lg-3
  -#     %img.photo{src:'../images/speaker3.jpg'}
  -#     %h4 Lucinda Robertson
  -#     %p @lucyRobertson
  -#   .col-xs-12.col-sm-6.col-lg-3
  -#     %img.photo{src:'../images/speaker4.jpg'}
  -#     %h4 Lucinda Robertson
  -#     %p @lucyRobertson
  -# .row-fluid.secondarySponsors
  -#   .col-xs-12.col-sm-6.col-lg-3
  -#     %img.photo{src:'../images/speaker4.jpg'}
  -#     %h4 Lucinda Robertson
  -#     %p @lucyRobertson
  -#   .col-xs-12.col-sm-6.col-lg-3
  -#     %img.photo{src:'../images/speaker3.jpg'}
  -#     %h4 Lucinda Robertson
  -#     %p @lucyRobertson
  -#   .col-xs-12.col-sm-6.col-lg-3
  -#     %img.photo{src:'../images/speaker2.jpg'}
  -#     %h4 Lucinda Robertson
  -#     %p @lucyRobertson
  -#   .col-xs-12.col-sm-6.col-lg-3
  -#     %img.photo{src:'../images/speaker1.jpg'}
  -#     %h4 Lucinda Robertson
  -#     %p @lucyRobertson
%br
= partial "gallery"
= partial "footer"
