= partial "menu"

.container.mainSponsors
  .row-fluid
    .col-lg-12
      %h2.text-center Programa
      %h3.text-center No querrás perderte estas charlas ofrecidas exclusivamente en la STC 2015

  .row-fluid
    .sep
    .col-lg-12#myScrollspy
      %ul#myNav.nav.nav-tabs
        %li.active
          %a{:href => "#section-1"} UX
        %li
          %a{:href => "#section-2"} Mobile
        %li
          %a{:href => "#section-3"} Web
        %li
          %a{:href => "#section-4"} People
        %li
          %a{:href => "#section-5"} Future

.container.mainSponsors
  //Tema 1
  .row-fluid
    .col-lg-12
      %h2#section-1 UX
  .row-fluid.keynotes
    .col-lg-2
      %h3 ¿Qué es?
      %p Hace unos años no se hablaba de experiencia de usuario, hoy es tema obligado al momento de iniciar un nuevo proyecto o producto digital.
      %p Acompáñenos en nuestro viaje para conocer más de cerca como se debe hacer lo que se debe hacer y como maximizar el agrado de nuestros usuarios y stakeholders.
    .col-lg-6
      %h3 Charlas, horarios y expositores
      .row-fluid.keynote
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 1, 9:00
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 1, 10:00
      .row-fluid.keynote
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 1, 11:00
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 1, 12:00
      .row-fluid.keynote
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 1, 13:00
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 1, 14:00
      .row-fluid.keynote
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 1, 16:00
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 1, 18:00
      .row-fluid.keynote
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 2, 10:00
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 2, 11:00
      .row-fluid.keynote
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 2, 12:00
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 2, 14:00
    .col-lg-4
      %h3 Keynoters e invitados especiales
      .speaker
        %img.photo{src:'../images/speaker1.jpg'}
        %h4 Lucinda Robertson
        %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
      .speaker
        %img.photo{src:'../images/speaker2.jpg'}
        %h4 Scarlett Johansson
        %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
      .speaker
        %img.photo{src:'../images/speaker3.jpg'}
        %h4 Jessica Alba
        %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker


  //Tema 2
  .row-fluid
    .col-lg-12
      %hr
      %h2#section-2 Mobile
  .row-fluid.keynotes
    .col-lg-2
      %h3 ¿Qué es?
      %p Hace unos años no se hablaba de experiencia de usuario, hoy es tema obligado al momento de iniciar un nuevo proyecto o producto digital.
      %p Acompáñenos en nuestro viaje para conocer más de cerca como se debe hacer lo que se debe hacer y como maximizar el agrado de nuestros usuarios y stakeholders.
    .col-lg-6
      %h3 Charlas, horarios y expositores
      .row-fluid.keynote
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 1, 9:00
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 1, 10:00
      .row-fluid.keynote
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 1, 11:00
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 1, 12:00
      .row-fluid.keynote
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 1, 13:00
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 1, 14:00
      .row-fluid.keynote
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 1, 16:00
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 1, 18:00
      .row-fluid.keynote
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 2, 10:00
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 2, 11:00
      .row-fluid.keynote
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 2, 12:00
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 2, 14:00
    .col-lg-4
      %h3 Keynoters e invitados especiales
      .speaker
        %img.photo{src:'../images/speaker1.jpg'}
        %h4 Lucinda Robertson
        %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
      .speaker
        %img.photo{src:'../images/speaker2.jpg'}
        %h4 Scarlett Johansson
        %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
      .speaker
        %img.photo{src:'../images/speaker3.jpg'}
        %h4 Jessica Alba
        %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker



  //Tema 3
  .row-fluid
    .col-lg-12
      %hr
      %h2#section-3 Web
  .row-fluid.keynotes
    .col-lg-2
      %h3 ¿Qué es?
      %p Hace unos años no se hablaba de experiencia de usuario, hoy es tema obligado al momento de iniciar un nuevo proyecto o producto digital.
      %p Acompáñenos en nuestro viaje para conocer más de cerca como se debe hacer lo que se debe hacer y como maximizar el agrado de nuestros usuarios y stakeholders.
    .col-lg-6
      %h3 Charlas, horarios y expositores
      .row-fluid.keynote
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 1, 9:00
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 1, 10:00
      .row-fluid.keynote
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 1, 11:00
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 1, 12:00
      .row-fluid.keynote
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 1, 13:00
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 1, 14:00
      .row-fluid.keynote
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 1, 16:00
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 1, 18:00
      .row-fluid.keynote
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 2, 10:00
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 2, 11:00
      .row-fluid.keynote
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 2, 12:00
        .col-lg-6
          %h4 “Sobreviviendo y creciendo”
          .speaker John Malcovich
          .schedule Día 1, Track 2, 14:00
    .col-lg-4
      %h3 Keynoters e invitados especiales
      .speaker
        %img.photo{src:'../images/speaker1.jpg'}
        %h4 Lucinda Robertson
        %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
      .speaker
        %img.photo{src:'../images/speaker2.jpg'}
        %h4 Scarlett Johansson
        %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
      .speaker
        %img.photo{src:'../images/speaker3.jpg'}
        %h4 Jessica Alba
        %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker



%br
= partial "gallery"
= partial "footer"


:javascript
  $(document).ready(function() {

    $('body').attr('data-spy','scroll');
    $('body').attr('data-target','#myScrollspy');

    $("#myNav").affix({offset: { top: 135 }});

    $("#myNav").on('affixed.bs.affix', function(){
        $('.sep').show();
    });


    $("#myNav").on('affix-top.bs.affix', function(){
        $('.sep').hide();
    });


  });
