= partial "menu"

.container.mainSponsors
  .row-fluid
    .col-lg-12
      %h2.text-center Charlistas
      %h3.text-center No querrás perderte estas charlas ofrecidas exclusivamente en la STC 2015
  .row-fluid
    .col-xs-12.col-sm-6.col-lg-3.text-center
      %img.img-responsive.photo{src:'../images/speaker1.jpg'}
      %h4 Nicole Kidman
      %p Director de Mobile Release Engineering en Facebook, Ex-Mozilla, Ex-Apple.
    .col-xs-12.col-sm-6.col-lg-3.text-center
      %img.img-responsive.photo{src:'../images/speaker2.jpg'}
      %h4 Nicole Kidman
      %p Director de Mobile Release Engineering en Facebook, Ex-Mozilla, Ex-Apple.
    .col-xs-12.col-sm-6.col-lg-3.text-center
      %img.img-responsive.photo{src:'../images/speaker3.jpg'}
      %h4 Nicole Kidman
      %p Director de Mobile Release Engineering en Facebook, Ex-Mozilla, Ex-Apple.
    .col-xs-12.col-sm-6.col-lg-3.text-center
      %img.img-responsive.photo{src:'../images/speaker4.jpg'}
      %h4 Nicole Kidman
      %p Director de Mobile Release Engineering en Facebook, Ex-Mozilla, Ex-Apple.

  .row
    .col-lg-12
      %h4.titleSection.text-center También vienen :

  .row-fluid.localSpeakers.OK
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker1.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker2.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker3.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker4.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
  .row-fluid.localSpeakers
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker4.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker3.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker2.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker1.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
  .row-fluid.localSpeakers
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker1.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker2.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker3.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker4.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker

%br

= partial "gallery"
= partial "footer"
