= partial "menu"

.container.mainSponsors
  .row-fluid
    .col-lg-12
      %h2.text-center Auspiciadores
      %h3.text-center Mira quienes nos apoyan en la STC 2015
  .row-fluid
    .col-xs-12.col-sm-4.col-lg-4.text-center
      %img.img-responsive.photo{src:'../images/sponsor1.png'}
      %h4 Synaptic
      %p Proveedores de soluciones tecnológicas innovadoras, especializadas y escalables.
    .col-xs-12.col-sm-4.col-lg-4.text-center
      %img.img-responsive.photo{src:'../images/sponsor2.png'}
      %h4 Synaptic
      %p Proveedores de soluciones tecnológicas innovadoras, especializadas y escalables.
    .col-xs-12.col-sm-4.col-lg-4.text-center
      %img.img-responsive.photo{src:'../images/sponsor3.png'}
      %h4 Synaptic
      %p Proveedores de soluciones tecnológicas innovadoras, especializadas y escalables.

  .row
    .col-lg-12
      %h4.titleSection.text-center Auspiciadores Gold

  .row-fluid.localSpeakers
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker1.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker2.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker3.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker4.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker

  .row
    .col-lg-12
      %h4.titleSection.text-center Auspiciadores Silver
  .row-fluid.secondarySponsors
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker4.jpg'}
      %h4 Lucinda Robertson
      %p @lucyRobertson
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker3.jpg'}
      %h4 Lucinda Robertson
      %p @lucyRobertson
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker2.jpg'}
      %h4 Lucinda Robertson
      %p @lucyRobertson
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker1.jpg'}
      %h4 Lucinda Robertson
      %p @lucyRobertson

%br
= partial "gallery"
= partial "footer"
