= partial "menu"

.container.mainSponsors
  .row-fluid
    .col-lg-12
      %h2.text-center Organizadores
      %h3.text-center Los visionarios detrás de la iniciativa STC 2015
  .row-fluid
    .col-xs-12.col-sm-4.col-lg-4.text-center
      %img.img-responsive.photo{src:'../images/sponsor1.png'}
      %h4 Synaptic
      %p Proveedores de soluciones tecnológicas innovadoras, especializadas y escalables.
    .col-xs-12.col-sm-4.col-lg-4.text-center
      %img.img-responsive.photo{src:'../images/sponsor1.png'}
      %h4 Synaptic
      %p Proveedores de soluciones tecnológicas innovadoras, especializadas y escalables.
    .col-xs-12.col-sm-4.col-lg-4.text-center
      %img.img-responsive.photo{src:'../images/sponsor1.png'}
      %h4 Synaptic
      %p Proveedores de soluciones tecnológicas innovadoras, especializadas y escalables.

  .row
    .col-lg-12
      %h4.titleSection.text-center La Startechconf 2015 no sería posible sin la organización, ayuda y paciencia de:

  .row-fluid.localSpeakers.OK
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
  .row-fluid.localSpeakers
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
  .row-fluid.localSpeakers
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker.jpg'}
      %h4 Lucinda Robertson
      %p Autor de “RabbitMQ in action” y desarrollador del NYTimes, Ex-PivotalTracker

  .row
    .col-lg-12
      %h4.titleSection.text-center …y el valioso trabajo y dedicación de:


  .row-fluid.secondarySponsors
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker.jpg'}
      %h4 Lucinda Robertson
      %p @lucyRobertson
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker.jpg'}
      %h4 Lucinda Robertson
      %p @lucyRobertson
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker.jpg'}
      %h4 Lucinda Robertson
      %p @lucyRobertson
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker.jpg'}
      %h4 Lucinda Robertson
      %p @lucyRobertson
  .row-fluid.secondarySponsors
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker.jpg'}
      %h4 Lucinda Robertson
      %p @lucyRobertson
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker.jpg'}
      %h4 Lucinda Robertson
      %p @lucyRobertson
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker.jpg'}
      %h4 Lucinda Robertson
      %p @lucyRobertson
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker.jpg'}
      %h4 Lucinda Robertson
      %p @lucyRobertson
  .row-fluid.secondarySponsors
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker.jpg'}
      %h4 Lucinda Robertson
      %p @lucyRobertson
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker.jpg'}
      %h4 Lucinda Robertson
      %p @lucyRobertson
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker.jpg'}
      %h4 Lucinda Robertson
      %p @lucyRobertson
    .col-xs-12.col-sm-6.col-lg-3
      %img.photo{src:'../images/speaker.jpg'}
      %h4 Lucinda Robertson
      %p @lucyRobertson

= partial "gallery"
= partial "footer"
